<%= form_for @student, remote: true do |f|%>
<div class="modal-body">
    <%= f.label :Name%>
    <%= f.text_field :name, class: 'form-control'%><br>
    <%= f.label :Age%>
    <%= f.text_field :age, class: 'form-control'%><br>
    <%= f.label :Email%>
    <%= f.text_field :email, class: 'form-control'%><br>
    <%= f.label :Password%>
    <%= f.text_field :password_digest, class: 'form-control'%><br>
    <%= f.label :Status%>
    <%= f.text_field :status, class: 'form-control'%>
    <%= f.submit%>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
</div>
<% end %>