<tr id="studentRow <%= s.id%>">
        <td><%= s.id%></td>
        <td><%= s.name%></td>
        <td><%= s.age%></td>
        <td><%= s.email%></td>
        <td><%= s.password_digest%></td>
        <td><%= s.status%></td>
        <td><%= link_to 'Details', student_path(s) %></td>
        <td><%= link_to 'Edit', edit_student_path(s) %></td>
        <td><%= button_to 'Destroy',  s , method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>