<html>
    <body style=" padding: 2%; font-size:21px;">
        <strong> Name:</strong>     
        <span> <%= @student.name%></span>
        <br>
        <strong> Age:</strong>     
        <span> <%= @student.age%></span>
        <br>
        <strong> Email:</strong>     
        <span> <%= @student.email%></span>
        <br>
        <strong> Password:</strong>     
        <span> <%= @student.password%></span>
        <br>
        <strong> Status:</strong>     
        <span> <%= @student.status%></span>
    </body>
</html>
